body {
    padding: 20px;
    background-color: #efefef;
    margin: 0 auto 0 auto;

}

dl {
    background-color: white;
    border: 5px solid purple;
    padding: 30px;
    border-radius: 20px;
}

header {
    padding: 30px;
    border: 10px solid purple;
    border-radius: 20px;
}

nav {
    padding: 30px;
    border: 10px solid purple;
    border-radius: 20px;
}


h1 {
    color: darkslategray;
}

h2 {
    font-style: italic;
}


a {
    color: green;
}

a:hover {
    color: darkgreen;
    text-decoration: none;
}

abbr {
    color: rebeccapurple;
}

sup {
    color: red;
}


figure img {
    border-radius: 20px;
}






